## VPC
##作業マシン内にbotoが必要
- name: create vpc
  ec2_vpc_net:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    name: ansible-vpc
    state: present
    cidr_block: 12.0.0.0/16
    tenancy: default
  register: vpc_net

- name: get vpc_id
  ec2_vpc_net_facts:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    filters:
       "tag:Name": ansible-vpc
  register: vpc_net_fact_id

- debug:
    var: vpc_net_fact_id

## subnet
##作業マシン内にbotoが必要
- name: create subnet a
  ec2_vpc_subnet:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    state: present
    vpc_id: "{{  vpc_net_fact_id.vpcs[0].id }}"
    az: "{{ AWS_REGION }}a"
    cidr: 12.0.0.0/24
    resource_tags:
      Name: ansible_subnet_a
  register: ansible_subnet_a_id

- name: get subnet id
  ec2_vpc_subnet_facts:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    filters:
      "tag:Name": ansible_subnet_a
  register: ansible_subnet_a_id

- name: create subnet_a c
  ec2_vpc_subnet:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    state: present
    vpc_id: "{{  vpc_net_fact_id.vpcs[0].id }}"
    az: "{{ AWS_REGION }}c"
    cidr: 12.0.1.0/24
    resource_tags:
      Name: ansible_subnet_c
  register: ansible_subnet_c

- name: get subnet_c id
  ec2_vpc_subnet_facts:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    filters:
      "tag:Name": ansible_subnet_c
  register: ansible_subnet_c_id

- debug:
    var: ansible_subnet_a_id

- debug:
    var: ansible_subnet_c_id

##internet gateway
##作業マシン内にbotoが必要
- name: create gateway
  ec2_vpc_igw:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    vpc_id: "{{ vpc_net_fact_id.vpcs[0].id }}"
    state: present
  register: igw

##route table
##作業マシン内にbotoが必要
- name: create route table
  ec2_vpc_route_table:
    aws_access_key: "{{ aws_access_key_id }}"
    aws_secret_key: "{{ aws_secret_access_key }}"
    region: "{{ AWS_REGION }}"
    vpc_id: "{{ vpc_net_fact_id.vpcs[0].id }}"
    tags:
      Name: ansible-test
    subnets:
      - 12.0.0.0/24
      - 12.0.1.0/24
    routes:
      - dest: 0.0.0.0/0
        gateway_id: "{{ igw.gateway_id }}"
